.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  box-sizing: border-box;
  vertical-align: top;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
